/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #fffcf8;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #FAF3DD;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}
.justify-content-center {
}

.navbar-brand {
  text-align: center;
}

.brand-colors {
  --primary-color: #0077FF; /* your primary color */
  --secondary-color: #FFA500; /* your secondary color */
  --accent-color: #FF00FF; /* your accent color */
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
}

.center-caption {
  top: 200px;
}

.static-caption {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}