/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #fffcf8;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #FAF3DD;
	color: yellowgreen;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

.navbar-nav .nav-link {
  color: #9EC1A3;
}

.navbar .nav-link.active {
  color: #4A7C59 !important;
}

.justify-content-center {
}

.navbar-brand {
  text-align: center;
}

.brand-colors {
  --primary-color: #0077FF; /* your primary color */
  --secondary-color: #FFA500; /* your secondary color */
  --accent-color: #FF00FF; /* your accent color */
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
}

.color-accent {
	background-color: #FAF3DD
}

.color-accent2 {
	background-color: #70A9A1
}

.center-caption {
  top: 250px;
}

.static-caption {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}



.my-style h1 {
	font-family: 'Rancho', cursive;
}

.my-style h2{
	
	font-family: 'More Sugar', sans-serif;
}

.my-style h5{
	
	font-family: 'More Sugar', sans-serif;
}

.my-style h3{
	
	font-family: 'More Sugar', sans-serif;
}
.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	background-color: rgba(0, 0, 0, 0.3); /* semi-transparent black */}

.btn-green {
	background-color: #70A9A1;
  color: white;
}

.btn-green:hover {
	background-color: #4A7C59;
  color: white;
}